html {
    scroll-behavior:smooth;
}
header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 92px 49px 92px 51px;
}
.headerNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: circle;
    float:left;
}
ul {
    padding:0;
}
li {
    padding-left:20px ;
}
.menu-link {
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.menu-link.one {
    text-decoration: none;
}
.onoTebeNado {
    position: absolute;
    left:45%;
}
.link_logo {
    width: 148px;
    height: 105px;
}
header .contacts {
    width: 240px;
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
    float:right;
}
.phoneNumber, .email, .adress {
    margin:5px;
}
.picture {
    z-index: -1;
    display: flex;
    flex-direction: column;
    background-image: url(/images/cover.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
}
.textOTN {
    display: flex;
    flex-direction: column;
    color: #FFF;
    font-family: Raleway;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%; /* 115px */
    letter-spacing: 30px;
    text-transform: uppercase;
}
.ono {
    text-align: left;
    padding-left:50px;
    margin:10px;
    margin-top:165px;
}
.tebe {
    text-align: center;
    margin:10px;
}
.nado {
    text-align: right;
    padding-right:50px;
    margin:10px;
}
.textAndButton {
    display: flex;
    justify-content: right;
    color: #FFF;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 127.273% */
    text-transform: uppercase;
    margin: 50px;
    margin-top:135px;
}
.textAndButton button {
    color: #FFF;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    border: 1px solid white;
    background:none;
    padding: 12px 32px;
}
.textAndButton p {
    padding-right:78px;
    word-spacing: 20px;
}
.lots {
    display: flex;
    flex-direction: column;
    margin:180px 50px 181px
}
.lots h1 {
    color: #000;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 40px;
    margin-bottom: 27px;
}
.cards {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
.lot1, .lot2, .lot3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
}
.lot1 {
    background-image: url(/images/card-lot-01.jpg);
    
}
.lot2 {
    margin:0 25px 0;
    background-image: url(/images/card-lot-02.jpg);
}
.lot3 {
    background-image: url(/images/card-lot-03.jpg);
}
.lot1 h2, .lot2 h2, .lot3 h2 {
    margin: 50px 40px 0;
    color: #FFF;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 26.4px */
    text-decoration-line: underline;
    text-transform: uppercase;

}
.lot1 p, .lot2 p, .lot3 p {
    margin: 0 40px 50px;
    color: #FFF;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}
.more {
    margin-left:30px;
    color: #000;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.about {
    display: flex;
    flex-direction: row;
    margin-left:50px;
    margin-right: 50px;
}
.logo {
    padding:0 95px 0;
    height: 240px;
}
.aboutText {
    display: flex;
    flex-direction: column;
    margin:100px 0 0 25px;
}
.aboutText h1 {
    color: #000;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.aboutText p {
    color: #000;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.firstP {
    margin-top:100px;
}
footer {
    margin-top:180px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 90px;
}
footer .contacts {
    margin-left:50px;
    width: 240px;
    height: 97px;
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
}
footer nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.socialContacts {
    margin-right:50px;
}
.vk {
    margin:0 48px 0;
}

