html {
    scroll-behavior: smooth;
}
header {
    display: grid;
    grid-template-columns: 1.75fr 1.45fr 0.1fr;
    margin: 92px 45px 89px 51px;
}
.header-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul {
    display: grid;
    grid-template-columns: 99px 180px 150px;
    text-underline-offset: 4px;
}
li {
    list-style-type: circle;
}
.no-circle {
    list-style: none;
}
.menu-link {
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.link_logo {
    width: 138px;
    min-height: 105px;
}
header .contacts {
    width: 246.8px;
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
}
.contacts_place_header {
    display: flex;
    flex-direction: column;
    justify-self: flex-end; 
}
.phone-number, .email, .adress {
    text-underline-offset: 4px;
}
.phone-number {
    margin-top: 5px;
}
.picture {
    z-index: -1;
    display: flex;
    flex-direction: column;
    background-image: url(../images/cover.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
}
.section-text-cover {
    display: flex;
    flex-direction: column;
    color: #FFF;
    font-family: Raleway, sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%; /* 115px */
    letter-spacing: 30px;
    text-transform: uppercase;
}
.cover-text {
    margin:10px;
}
.cover-text span {
    letter-spacing: 60px;
}
.first-word {
    text-align: left;
    padding-left:40px;
    margin-top:167px;
}
.second-word {
    text-align: center;
    margin:0;
    margin-top:2px;
}
.third-word {
    text-align: right;
    padding-right:10px;
    margin-top:5px;
}
.text-button {
    display: flex;
    justify-content: right;
    align-items: center;
    color: #FFF;
    font-family: Raleway, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 127.273% */
    text-transform: uppercase;
    margin-top:118px;
    margin-bottom: 50px;
    padding-right:50px
}
.text-button button {
    color: #FFF;
    font-family: Raleway, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    border: 1px solid white;
    background:none;
    padding: 12px 32px;
}
.text-button p {
    padding-right:78px;
    word-spacing: 17px;
}
.text-button p span {
    word-spacing: 20px;
}
.lots {
    display: flex;
    flex-direction: column;
    margin:180px 50px 181px
}
.lots h2 {
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 40px;
    margin-bottom: 27px;
}
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:25px;
    margin-bottom: 30px;
}
.card {
    display: flex;
    flex-direction: column;
    min-height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
}
.card-type-film {
    background-image: url(../images/card-lot-01.jpg)
}
.card-type-book {
    background-image: url(../images/card-lot-02.jpg);
}
.card-type-picture {
    background-image: url(../images/card-lot-03.jpg);
}
.card h3 {
    margin: 50px 40px 0;
    color: #FFF;
    font-family: Raleway, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 26.4px */
    text-decoration-line: underline;
    text-transform: uppercase;
}
.lot1 p, .lot2 p, .lot3 p {
    list-style: none;
    margin: 0 40px 50px;
    color: #FFF;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    
}
.more {
    margin-left:40px;
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-underline-offset: 4px;
}
.about {
    display: flex;
    flex-direction: row;
}
.circle-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 145px;
    width: 240px;
    height:240px;
    background: black;
    border-radius: 50%;
}
.logo {
    width: 148px;
    height: 114px;
}
.about-text {
    display: flex;
    flex-direction: column;
    margin:100px 50px 0 120px;
}
.about-text h2 {
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 100px;
}
.paragraph {
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 25px;
}
footer {
    margin-top:155px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 90px;
}
footer .contacts {
    margin-left:50px;
    width: 240px;
    min-height: 97px;
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
}
footer .menu-link.two{
    margin-top:1px;
} 
footer nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-contacts {
    display: grid;
    grid-template-columns: auto auto auto 2px;
    gap:48px;
}
.social-contacts img {
    width:48px;
}
.link {
    text-decoration: none;
}
.link.link-active {
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
}